h1 {

    text-align:center ;

    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 250px;
    margin-top: 125px;
    margin-bottom: 0px;
    text-shadow: -2px -2px 10px cyan, 2px 2px 10px red;
    user-select: none;
}


#lh1 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#loh2 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: -2px -2px 10px cyan, 2px 2px 10px red;
    user-select: none;
}

#sh1 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}

#loh1 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 100px;
    margin-top: 25px;
    margin-bottom: 0px;
}

#Ah1 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}


body {
    background-color: black;
}

a.Start:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Leaderboards:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Settings:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Login:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Admin:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Logout:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;font-size: 150%;}
a.Database:hover, a.Start:active {text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;}
a.MainMenuButton:hover, a.Start:active{text-shadow: -2px -2px 5px cyan, 2px 2px 5px red;}



.Start, .Leaderboards, .Settings, .Login , .Admin, .Logout, .MainMenuButton{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "hot_sauceitalic";
    cursor: pointer;
}

#gameOver, .gameOverLabel, #scoreText, .scoreLabel, #scoreValue{
    text-align: center;
    user-select: none;
    font-size:  100px;
    margin-top: 0px;
    color: white;
    font-family: "hot_sauceitalic";
    text-shadow: -2px -2px 10px cyan, 2px 2px 10px red;
    margin-top: 0px;
}

#p1, #p2 , #p3, #p4, #p5, #p6{
    text-align: center;
    user-select: none;
    font-size: 45px;
}

#Button1, #Button2{
    text-align: center;
    user-select: none;
    font-size:  40px;
    margin-top: 0px;

}
.Database{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "hot_sauceitalic";
    cursor: pointer;
    margin-left: 50px;
    font-size: 60px;
    user-select: none;
}

#MainMenuButton {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "hot_sauceitalic";
    cursor: pointer;
    font-size: 60px;
    user-select: none;
    margin-bottom: 500px;
    margin-right: 2000px;
}

#Content{
    color: white;
    text-align: center;
    width: 1920px;
    height: 650px;
    overflow: auto;
    user-select: none;
}

table, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    background-color: black;
    empty-cells: show;
    font-size: 50px;
    font-family: "Verdana";
    overflow: auto;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    background-color: black;
    empty-cells: show;
    font-size: 20px;
    font-family: "Verdana";
    overflow: auto;
}

@font-face {
    font-family: 'hot_sauceitalic';
    src: url('hotsauce-webfont.woff2') format('woff2'),
    url('hotsauce-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.loginDiv {
    font-size: 20pt;
    margin-top: 40px;
    margin-left: 20px;
    align-content: center;
    text-align: center;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
    background-color: grey;
    align-content: center;
    outline: #000000 none;
}

#loginButton, #LogOutButton {
    width: 200px;
    text-align: center;
    user-select: none;
    margin: auto;

}

#username, #password {
   background-color: white;


}
.label1 {
    text-align:center ;
    color: WHITE;
    font-family: "hot_sauceitalic";
    font-size:30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1px;
    user-select: none;
}

#loggedInDetails {
    margin: 0;
    text-align: right;
    display: inline;
    float: right
}

.deleteButton, #cancelButton {
    visibility: hidden;
    background-color: indianred;
    margin-left: 10px;
}

.editButton {
    visibility: hidden;
    background-color: silver;
}

.GameHeader {
    font-size: 50px;
    margin-top: 0px;
    user-select: none;
}

.GameTable {
    color: white;
    font-size: 26px;
    margin-left: 40%;
    background-color: black;
    border: 1px solid white;

}

#input {
    height: 40px;
    width: 300px;
    font-size: 19px;
    border-color: #2d2d2d;
    padding: 5px;
    align-content: center;
}

#typingCanvas{
    align-content: center;
    border: 1px solid white;
    margin-left: 25%;

}

hr{
    color: gray;
    border-width: 2px;
}

.gameDiv {
    font-family: hot_sauceitalic;
}

.Game {
    background-color: black;
}
